<div class="min-h-100 w-100">
  <div class="flex items-center">
    <app-sidebar class="flex-[0.1]" />
    <div class="h-24 text-3xl flex items-center justify-center flex-[0.9]">
      Student Management System
    </div>
  </div>
  <div class="">
    <div class="card flex justify-center">
      <p-multiselect
        [options]="courses"
        [(ngModel)]="course"
        optionLabel="name"
        placeholder="Select Course"
        [maxSelectedLabels]="3"
        styleClass="w-full md:w-80"
        (ngModelChange)="onVariableChange($event)"
      />
    </div>
  </div>

  <div class="m-12 overflow-hidden" *ngFor="let courses of courseRecords">
    <div class="uppercase text-xl mb-4 font-semibold">
      {{ courses.courseCode }}
    </div>
    <div class="flex gap-14">
      <div
        class="flex items-start justify-center"
        *ngFor="let record of courses.records"
        (click)="onRecordsClick(record)"
      >
        <div
          class="max-w-sm mx-auto p-4 bg-white shadow-md rounded-lg border border-gray-200"
        >
          <div class="flex items-center space-x-4">
            <!-- Student Image -->
            <div
              class="w-20 h-20 rounded-full overflow-hidden border-2 border-gray-300"
            >
              <img
                [src]="record.image_url"
                alt="Student Image"
                class="w-full h-full object-cover"
              />
            </div>

            <!-- Student Info -->
            <div>
              <!-- Name -->
            </div>
            <div class="">
              <h2 class="text-lg font-semibold text-gray-800">
                {{ record.stu_name }}
              </h2>
              <!-- Roll Number -->
              <p class="text-sm text-gray-600">Roll No: {{ record.rollno }}</p>
              <!-- Admission Date -->
              <p class="text-sm text-gray-600">Batch: 2021-24</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
