<div class="card">
  <p-drawer header="Quick Links" [(visible)]="visible1" position="left">
    <div class="p-4 hover:bg-slate-100 hover:text-gray-600 cursor-pointer ease-in-out transition-all" routerLink="/create">Create Record</div>
    <div class="p-4 hover:bg-slate-100 hover:text-gray-600 cursor-pointer ease-in-out transition-all">Profile</div>
    <div class="p-4 hover:bg-slate-100 hover:text-gray-600 cursor-pointer ease-in-out transition-all">Settings </div>
    <div class="p-4 hover:bg-slate-100 hover:text-gray-600 cursor-pointer ease-in-out transition-all">Logout</div>
  </p-drawer>

  <div class="flex gap-2 justify-center">
    <p-button type="button" (click)="visible1 = true" icon="pi pi-align-left" />
  </div>
</div>
